<br>
<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is an analytics service to track events on websites.</p>
  <p>
	<% if current_user == nil %>
	  <%= link_to "Sign In", new_user_session_path %> or
	  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
	<% end %>  
  </p>
</div>
